%h1 Registration
=form_for @user do |f|
  -if @user.errors.any?
    .error_messages
      %hr
      %h2 Form is invalid
      -for message in @user.errors.full_messages
        =message
        %br
      %hr
      %br
  %table
    %tr
      %td
        =f.label :username
      %td
        =f.text_field :username, :value => @user.username
    %tr
      %td
        =f.label :email
      %td
        =f.text_field :email, :value => @user.email
    %tr
      %td
        =f.label :pwd
      %td
        =f.password_field :pwd
    %tr
      %td
        =f.label :pwd_confirmation
      %td
        =f.password_field :pwd_confirmation

  %p.button
    =f.submit

