/* line 19, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.full-width {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: initial;
}

/* line 25, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.gray-bg {
  background-color: #eeeeee;
}

/* line 28, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button {
  text-align: center;
  color: white;
  font-weight: 200;
}

/* line 33, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.secondary {
  color: #777;
  background-color: #e7e7e7;
}

/* line 37, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

/* line 45, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.medium {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* line 53, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* line 61, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.devise-button {
  display: inline-block;
  width: 100%;
  height: 44px;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 69, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
a.devise-link {
  margin-bottom: 14px;
  display: inline-block;
}

/* line 52, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
html,
body {
  height: 100vh;
  width: 100vw;
}

/* line 57, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
html, body, div, pre, p, h1, h2, h3, h4, h5, a, img {
  -webkit-user-select: none;
}

/* line 60, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
h1, h2, h3, h4, h5, p, blockquote, pre {
  font-family: Calibri, Verdana, sans-serif;
}

/* line 64, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img {
  vertical-align: inherit;
}

/* line 67, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.full-height {
  height: 100%;
}

/* line 70, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.inline-block {
  display: inline-block;
}

/* line 73, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#header {
  overflow: hidden;
  padding-right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* line 80, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#body {
  overflow: hidden;
  height: 80vh;
  width: 100vw;
}

/* line 84, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#footer {
  overflow: hidden;
  padding-right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* line 92, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#logo-company {
  height: 100%;
  width: 28vw;
}

/* line 96, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#answer-thanks {
  height: 100%;
  width: 40vw;
  color: #777;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
}

/* line 104, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#answer-thanks-bottom {
  line-height: 0.2em;
}

/* line 107, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#lang {
  height: 100%;
  width: 24vw;
}

/* line 111, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#question-pane {
  padding-right: 2vw;
  padding-left: 2vw;
  width: 65vw;
  vertical-align: top;
  height: 100%;
}

/* line 117, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#question-title {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 30%;
}

/* line 121, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#question-image {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 70%;
}

/* line 125, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#buttons-pane {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 34vw;
}

/* line 131, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#question-buttons {
  overflow: hidden;
  height: 60.04vh;
}

/* line 135, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#main-buttons {
  height: 100%;
}

/* line 137, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#sub-buttons {
  height: 100%;
}

/* line 139, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.sub-buttons {
  height: 100%;
}

/* line 142, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#common-button {
  height: auto;
}

/* line 144, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#common-button > .sr-button {
  font-size: 0.825rem;
}

/* line 147, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.row.top-row {
  padding-top: 10px;
}

/* line 150, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.top-right-stats {
  font-size: 1.1em;
  text-align: right;
}

/* line 154, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img.logo {
  max-height: 8vh;
  max-width: 35vw;
}

/* line 158, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p.question-title {
  font-size: 3em;
  font-weight: 100;
  height: 20vh;
}

/* line 163, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img.question-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

/* line 169, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.button.question-button {
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
}

/* line 174, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.button.small.question-button.secondary {
  color: #777;
}

/* line 177, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.button.large.question-button {
  font-weight: 100;
}

/* line 180, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.question-button#buttonSkip {
  margin-top: 16em;
}

/* line 183, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.question-button.button-ok,
.question-button.button-high,
.question-button#buttonOK {
  background-color: #6bc586;
}

/* line 188, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.question-button.button-medium {
  background-color: #ffbb87;
}

/* line 191, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.question-button.button-cancel,
.question-button.button-low,
.question-button#buttonCancel {
  background-color: #ec6669;
}

/* line 196, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#modal-thanks {
  height: 70%;
  width: 70%;
  background-color: #368a55;
}

/* line 201, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p.modal-big-thanks {
  text-align: center;
  color: #e7e7e7;
  font-size: 72px;
  font-weight: 500;
}

/* line 207, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p.modal-text {
  text-align: center;
  color: #e7e7e7;
  font-size: x-large;
  font-weight: light;
}

/* line 213, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#next_question {
  display: none;
}

/* line 216, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.copyright-text {
  color: #777;
  padding-right: 0.5rem;
  line-height: 1rem;
  padding-top: 2.3vh;
}

/* line 222, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.copyright-image {
  height: 100%;
}

/* line 225, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img.logo-speedyrating {
  height: 5vh;
}

/* line 228, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p.catch-phrase {
  font-size: 1.5em;
  font-weight: 400;
  color: #aaa;
}

/* line 233, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200000000;
}

/* line 242, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#load-error {
  color: #dddddd;
  text-align: center;
  font-size: 2em;
  top: 50%;
  position: absolute;
  width: 100%;
}

/* line 250, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
a.error-back-button {
  margin: 30px;
}

/* line 253, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.thanks-grid {
  margin-right: 10px;
  height: 100%;
}

/* line 257, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img.checkmark {
  height: 100%;
}

/* line 260, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img#alert {
  visibility: hidden;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* line 266, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#comment-input {
  height: 7vh;
}

/* line 269, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p#comment-subtitle {
  width: 50%;
  display: inline-block;
}

/* line 273, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.button.secondary:hover {
  background-color: #e7e7e7;
}

/* line 276, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#comment-modal-thanks-overlay {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  display: table;
}

/* line 287, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
p.thanks-overlay {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 900;
  color: #777;
}

/* line 294, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.lang-container {
  padding-top: 3vh;
  padding-bottom: 3vh;
  line-height: 2vh;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  height: 100%;
}

/* line 303, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
span.lang-button {
  color: #aaa;
}

/* line 306, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#all-done-modal {
  text-align: center;
  height: 80vh;
}

/* line 310, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
h2#modalTitle {
  max-height: 20vh;
  overflow: hidden;
}

/* line 314, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.all-done-modal-content {
  height: 60vh;
}

/* line 317, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
.all-done-modal-text {
  font-size: 1em;
  font-weight: bold;
  max-height: 20vh;
  overflow: hidden;
}

/* line 323, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
img.all-done-modal-image {
  max-height: 40vh;
  padding: 2vh;
  max-width: auto;
}

/* line 328, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#comments {
  margin-top: 0.75rem;
}

/* line 331, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/questions.sass */
#skip {
  margin-bottom: 0px;
}
