/* line 19, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.full-width {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: initial;
}

/* line 25, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.gray-bg {
  background-color: #eeeeee;
}

/* line 28, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button {
  text-align: center;
  color: white;
  font-weight: 200;
}

/* line 33, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.secondary {
  color: #777;
  background-color: #e7e7e7;
}

/* line 37, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

/* line 45, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.medium {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* line 53, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.sr-button.large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* line 61, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
.devise-button {
  display: inline-block;
  width: 100%;
  height: 44px;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 69, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/_speedyrating.sass */
a.devise-link {
  margin-bottom: 14px;
  display: inline-block;
}

/* line 6, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.center {
  text-align: center;
}

/* line 9, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
a.comments {
  margin-top: 2em;
}

/* line 12, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.block-surveys {
  border: 1px solid;
  text-align: center;
}

/* line 16, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
img.thumbnail {
  max-height: 3em;
}

/* line 19, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.result-table {
  display: inline-block;
  margin: auto;
  vertical-align: top;
}

/* line 24, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.question-chart {
  width: 40vw;
  text-align: center;
}

/* line 28, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.barChart {
  display: inline-block;
}

/* line 31, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
span.prefix {
  border-right-style: solid;
  border-right-width: 1px;
}

/* line 35, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
svg.questiorChart {
  padding: 5px;
}

/* line 38, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
p.title {
  font-size: 2em;
}

/* line 41, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.satisfaction {
  font-size: 4em;
}

/* line 44, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.question-pie-chart {
  margin-bottom: 2em;
}

/* line 47, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
a.back-button {
  font-size: 2em;
}

/* line 50, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.header {
  background-color: #525252;
  color: #e8e8e8;
  padding: 5px;
  line-height: 1.5rem;
}

/* line 56, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.header > .right > a {
  color: #e8e8e8;
  padding: 5px;
}

/* line 60, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
.header > span.user {
  font-weight: 200;
  padding-left: 10px;
}

/* line 64, /Users/gbataille/Documents/Prog/speedyrating/sr_survey_app/app/assets/stylesheets/surveys.sass */
a.survey {
  display: block;
}
